body{
  font-family: 'Montserrat', sans-serif;
  color: #3F3F3F;
  margin: auto;
}
.hero{
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 120px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 620;
  background-image: url(img/hero.png);
  background-position: right;
  align-self: center;
}
.esquerda{
  max-width: 1120;
  margin:auto;
  padding-top: 100px;
}
h1{
  font-weight: 700;
  font-size: 42px;
  line-height: 72px;
  color:white;
}
h2{
  font-weight: 700;
  font-size: 32px;
  line-height: 72px;
  color:#3F3F3F;
  margin: 0;
}
p{
  font-size: 16px;
  line-height: 160%;
}
.texto-maior{
  font-size: 18px;
  line-height: 160%;
  padding-right: 40px;
  max-width: 640px;
  color: white;
}
.destaque{
  font-size: 16px;
  line-height: 60%;
  margin-top: 60px;
  color: white;
}
.imagem{
    height: auto;
}
.logo{
  height: 32px;
}
.form{
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: #313131;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 16px Montserrat;
    padding: 16px 20px;
    border-width: 1px;
    border-radius: 3232px 0px 0px 3232px;
    width: 392px;
}
.form-contato{
  border-radius: 3232px;
  width: 544;
  margin-top: 16px;
}
.botao{
  width: 212px;
  padding: 16px 16px;
  font: 800 16px Montserrat;
  border:1px;
  border-color: #FF9100;
  background-color: #FF9100;
  color: white;
  height: 53px;
  border-radius: 0px 3232px 3232px 0px;
  cursor: pointer;
}
.botao:hover{
  background-color: #FF7C02;
}
.botao:active{
  background-color: #D66700;
}
.botao-contato{
  width: 544px;
  border-radius: 3232px;
}
.formularios{
  display: flex;
}
.iframe-desk{
  display: block;
  margin:auto;
}
.iframe-mob{
  display: none;
}
.menu{
  width: 100%;
  height: 56px;
  background-color: #3F3F3F;
  position: fixed;
  top: 0
  left:0;
}
.container-menu{
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}
.fab{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16;
  position: fixed;
  bottom: 32;
  right: 32;
  background: #FF8C22;
  border-radius: 323232px;
}
.fab:hover{
  background-color: #FF7C02;
}
.btn-round{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16;
  background: #FF8C22;
  border-radius: 323232px;
  max-width: 156;
  margin:auto;
  margin-top: 16;
}
.material-icon{
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.botao-texto{
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.links{
    color: white;
    display: flex;
    flex-direction: row;
}
.link{
  margin-right: 24;
}
.redes{
    display: flex;
    flex-direction: row;
    color: white;
}
.rede-menu{
  width: 27;
  height: 24;
  margin-right: 24;
}
.rede-menu-ultimo{
  margin-right: 0;
}
.adicionarpicos{
  margin: auto;
  text-align: center;
}
.imagem-picos{
  width: 1120;
  height: 459;
}
.titulo-adc{
  margin-top: 48;
}
.chamada-adc{
  margin: 0;
  max-width: 448;
  margin: auto;
}
.contato{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  max-width: 1120;
  margin:auto;
  margin-top: 148;
  margin-bottom: 148;
}
.btn-discord{
  max-width: 180;
  margin: inherit;
}
.fale-text{
  max-width: 544;
  margin-bottom: 32;
}
a{
    color:inherit;
    cursor: pointer;
    text-decoration: none;
}
.link:hover{
  text-decoration: underline;
}
footer{
  background-color: #3F3F3F;
  margin: auto;
  text-align: center;
  padding: 60;
}
.logo-footer{
  width: 98;
}
.redes-footer{
   display: block;
   margin-top: 32;
}
.rede-footer{
  width: 34;
  height: 30;
}
@media (max-width: 1240px){
  .hero{
    margin: auto;
    text-align: center;
  }
  .texto-maior{
    max-width: 80%;
    text-align: center;
    margin: auto;
  }
  .formularios{
    display: block;
  }
  .form{
    width: 80%;
    border-radius: 3232px;
  }
  .botao{
    width: 80%;
    margin-bottom: 32px;
    border-radius: 3232px;
  }
  .destaque{
    line-height: 160%;
  }
  .imagem-picos{
    display: none;
  }
  .contato{
    flex-direction: column-reverse;
    margin-top: 32;
  }
  .formulario-contato{
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 620px){
  .menu{
    display: flex;
    align-items: center;
  }
  .links{
    display: none;
  }
  .redes{
    display: none;
  }
  .texto-maior{
    font-size: 16px;
    line-height: 200%;
    padding: 0;
  }
  h1{
    font-weight: 800;
    font-size: 22px;
    line-height: 100%;
  }
  .esquerda{
    margin-top: 16px;
  }
  .destaque{
    margin-top: 16px;
  }
  .adicionarpicos{
    width: 90%;
    margin: auto;
  }
  h2{
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 8;
  }
  .formulario-contato {
    margin-top: 32;
  }
  .fab-fixo{
    margin: auto;
  }
  .imagem-contato{
    width: 90%;
  }
}
