body{
  font-family: 'Montserrat', sans-serif;
  color: #313131;
  margin: auto;
  
}
.hero{
  display: flex;
  justify-content: space-between;
  align-items:center;
  background-image: url("img/fundo.png");
  background-color: #FBFBFB;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 120px;
  margin-bottom: 120px;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;  
}
h1{
  font-weight: 300;
  font-size: 52px;
  line-height: 72px;
}
p{
  font-size: 16px;
  line-height: 160%;
}
.texto-maior{
  font-size: 20px;
  line-height: 160%;
  padding-right: 40px;
  max-width: 650px;
}
.destaque{
  font-size: 16px;
  line-height: 60%;
  margin-top: 60px;
  font-weight: 800;
}
.imagem{
    height: auto;
}
.logo{
  margin-top: 16px;
  margin-left: 120px;
}
.form{
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: #313131;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 16px Montserrat;
    padding: 20px 20px;
    border-width: 1px;
    border-color: #F6F6F6;
    width: 392px;
}
.botao{
  width: 212px;
  padding: 16px 16px;
  font: 800 16px Montserrat;
  border:1px;
  border-color: #FF9100;
  background-color: #FF9100;
  color: white;
  height: 62px;
}
.formularios{
  display: flex;
}
.iframe-desk{
  display: block;
}
.iframe-mob{
  display: none;
}

@media (max-width: 1240px){
  .hero{
    max-width: 90%;
    display: block;
    text-align: center;
    flex-direction: column-reverse;
    margin: auto;
    margin-bottom: 32px;
  }
  .logo{
    position: initial;
    margin-top: 16px;
  }
  .texto-maior{
    padding-right: 0;
    max-width: 100%;
  }
  .formularios{
    display: block;
  }
  .form{
    width: 100%;
  }
  .botao{
    width: 100%;
    margin-bottom: 32px;
  }
  .destaque{
    line-height: 160%;
  }
}

@media (max-width: 455px){
  body{
    background-image: url("img/bg-mobile.png");
    background-position: top;
    background-repeat: repeat;
  }
  .texto-maior{
    font-size: 16px;
    line-height: 200%;
  }
  h1{
    font-weight: 800;
    font-size: 22px;
    line-height: 100%;
    margin-top: 60px;
  }
  .imagem{
    display: none;
  }
  .esquerda{
    margin-top: 16px;
  }
  .iframe-desk{
  display: none;
}
.iframe-mob{
  display: block;
  margin: auto;
}
}
